{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="ru">

<head>
	{% block head %}
	<title>Новости</title>
	{% endblock %}
</head>

<body>
    {% block body %}
	{% load static %}

	<main>
		<section class="news">
			<div class="container">
				<div class="wrap-f">
					<h2 class="page-title">Новости</h2>
					<div class="filter-date">
						<select name="date">
							<option value="1">Сортировать по дате</option>
							<option value="1">Сортировать по дате</option>
							<option value="1">Сортировать по дате</option>
						</select>
					</div>
				</div>
				<ul class="tabs-list">
					<li class="tabs-list__item tabs-list__item_active"><button type="button" data-content="content1">Все новости</button></li>
					{% for cat in newscat %}
					    <tr class="{% cycle 'row1' 'row2' %}">
							<li class="tabs-list__item"><button type="button" data-content="content2">{{cat.title}}</button></li>
					    </tr>
					{% endfor %}
						<li class="filter">
						<input type="checkbox" class="checkbox" id="cb1">
						<label for="cb1">Показать только непросмотренные</label>
					</li>
				</ul>
			</div>

			<div class="tabs__content tabs__content_active" id="content1">
				{% for newsone in news1 %}
				<div class="news-item">
					<div class="container">
						<p>{{newsone.description }}</p>
					</div>
				</div>
				{% endfor %}

			</div>
			<div class="tabs__content" id="content2">
				<div class="news-item">
					<div class="container">
						<a href="#"><span>1</span> Новость</a><i>29.30.17 в 21:00</i>
						<p>Художественный стиль – это особый стиль речи, который получил широкое распространение как в мировой художественной литературе в целом, так и в копирайтинге в частности. </p>
					</div>
				</div>
				<div class="news-item">
					<div class="container">
						<a href="#"><span>1</span> Новость</a><i>29.30.17 в 21:00</i>
						<p>Художественный стиль – это особый стиль речи, который получил широкое распространение как в мировой художественной литературе в целом, так и в копирайтинге в частности. </p>
					</div>
				</div>
				<div class="news-item">
					<div class="container">
						<a href="#"><span>1</span> Новость</a><i>29.30.17 в 21:00</i>
						<p>Художественный стиль – это особый стиль речи, который получил широкое распространение как в мировой художественной литературе в целом, так и в копирайтинге в частности. </p>
					</div>
				</div>
				<div class="news-item">
					<div class="container">
						<a href="#"><span>1</span> Новость</a><i>29.30.17 в 21:00</i>
						<p>Художественный стиль – это особый стиль речи, который получил широкое распространение как в мировой художественной литературе в целом, так и в копирайтинге в частности. </p>
					</div>
				</div>
				<div class="news-item">
					<div class="container">
						<a href="#"><span>1</span> Новость</a><i>29.30.17 в 21:00</i>
						<p>Художественный стиль – это особый стиль речи, который получил широкое распространение как в мировой художественной литературе в целом, так и в копирайтинге в частности. </p>
					</div>
				</div>
				<div class="news-item news-item--noread">
					<div class="container">
						<a href="#"><span>1</span> Новость</a><i>29.30.17 в 21:00</i>
						<p>Художественный стиль – это особый стиль речи, который получил широкое распространение как в мировой художественной литературе в целом, так и в копирайтинге в частности. </p>
					</div>
				</div>
				<div class="news-item news-item--noread">
					<div class="container">
						<a href="#"><span>1</span> Новость</a><i>29.30.17 в 21:00</i>
						<p>Художественный стиль – это особый стиль речи, который получил широкое распространение как в мировой художественной литературе в целом, так и в копирайтинге в частности. </p>
					</div>
				</div>
			</div>
			<div class="tabs__content" id="content3">
				<div class="news-item">
					<div class="container">
						<a href="#"><span>1</span> Новость</a><i>29.30.17 в 21:00</i>
						<p>Художественный стиль – это особый стиль речи, который получил широкое распространение как в мировой художественной литературе в целом, так и в копирайтинге в частности. </p>
					</div>
				</div>
				<div class="news-item">
					<div class="container">
						<a href="#"><span>1</span> Новость</a><i>29.30.17 в 21:00</i>
						<p>Художественный стиль – это особый стиль речи, который получил широкое распространение как в мировой художественной литературе в целом, так и в копирайтинге в частности. </p>
					</div>
				</div>
				<div class="news-item">
					<div class="container">
						<a href="#"><span>1</span> Новость</a><i>29.30.17 в 21:00</i>
						<p>Художественный стиль – это особый стиль речи, который получил широкое распространение как в мировой художественной литературе в целом, так и в копирайтинге в частности. </p>
					</div>
				</div>
				<div class="news-item">
					<div class="container">
						<a href="#"><span>1</span> Новость</a><i>29.30.17 в 21:00</i>
						<p>Художественный стиль – это особый стиль речи, который получил широкое распространение как в мировой художественной литературе в целом, так и в копирайтинге в частности. </p>
					</div>
				</div>
				<div class="news-item">
					<div class="container">
						<a href="#"><span>1</span> Новость</a><i>29.30.17 в 21:00</i>
						<p>Художественный стиль – это особый стиль речи, который получил широкое распространение как в мировой художественной литературе в целом, так и в копирайтинге в частности. </p>
					</div>
				</div>
				<div class="news-item news-item--noread">
					<div class="container">
						<a href="#"><span>1</span> Новость</a><i>29.30.17 в 21:00</i>
						<p>Художественный стиль – это особый стиль речи, который получил широкое распространение как в мировой художественной литературе в целом, так и в копирайтинге в частности. </p>
					</div>
				</div>
				<div class="news-item news-item--noread">
					<div class="container">
						<a href="#"><span>1</span> Новость</a><i>29.30.17 в 21:00</i>
						<p>Художественный стиль – это особый стиль речи, который получил широкое распространение как в мировой художественной литературе в целом, так и в копирайтинге в частности. </p>
					</div>
				</div>
			</div>
			<div class="tabs__content" id="content4">
				<div class="news-item">
					<div class="container">
						<a href="#"><span>1</span> Новость</a><i>29.30.17 в 21:00</i>
						<p>Художественный стиль – это особый стиль речи, который получил широкое распространение как в мировой художественной литературе в целом, так и в копирайтинге в частности. </p>
					</div>
				</div>
				<div class="news-item">
					<div class="container">
						<a href="#"><span>1</span> Новость</a><i>29.30.17 в 21:00</i>
						<p>Художественный стиль – это особый стиль речи, который получил широкое распространение как в мировой художественной литературе в целом, так и в копирайтинге в частности. </p>
					</div>
				</div>
				<div class="news-item">
					<div class="container">
						<a href="#"><span>1</span> Новость</a><i>29.30.17 в 21:00</i>
						<p>Художественный стиль – это особый стиль речи, который получил широкое распространение как в мировой художественной литературе в целом, так и в копирайтинге в частности. </p>
					</div>
				</div>
				<div class="news-item">
					<div class="container">
						<a href="#"><span>1</span> Новость</a><i>29.30.17 в 21:00</i>
						<p>Художественный стиль – это особый стиль речи, который получил широкое распространение как в мировой художественной литературе в целом, так и в копирайтинге в частности. </p>
					</div>
				</div>
				<div class="news-item">
					<div class="container">
						<a href="#"><span>1</span> Новость</a><i>29.30.17 в 21:00</i>
						<p>Художественный стиль – это особый стиль речи, который получил широкое распространение как в мировой художественной литературе в целом, так и в копирайтинге в частности. </p>
					</div>
				</div>
				<div class="news-item news-item--noread">
					<div class="container">
						<a href="#"><span>1</span> Новость</a><i>29.30.17 в 21:00</i>
						<p>Художественный стиль – это особый стиль речи, который получил широкое распространение как в мировой художественной литературе в целом, так и в копирайтинге в частности. </p>
					</div>
				</div>
				<div class="news-item news-item--noread">
					<div class="container">
						<a href="#"><span>1</span> Новость</a><i>29.30.17 в 21:00</i>
						<p>Художественный стиль – это особый стиль речи, который получил широкое распространение как в мировой художественной литературе в целом, так и в копирайтинге в частности. </p>
					</div>
				</div>
			</div>
		</section>
	</main>
	<div class="hidden">
		<div class="modal modal-leson leson" id="leson">
			<h2>Выбор игры через игровые площадки <span>1</span> <button><img src="img/link.png" alt="link"></button></h2>
			<div class="leson-wrap">
				<div class="leson__video">
					<iframe width="480" height="300" src="https://www.youtube.com/watch?v=Z74TPyCbvgU" frameborder="0" allowfullscreen></iframe>
				</div>
				<div class="leson__info">
					<div class="leson__date"><span>Создан: 23.03.2017</span> <span>Обновлен: 23.03.2017</span></div>
					<p>Как уже было сказано выше, художественный стиль наиболее часто используется в художественной литературе: романах, новеллах, рассказах, повестях и прочих литературных жанрах. Этому стилю не присущи оценочные суждения: </p>
					<ul>
						<li>- сухость</li>
						<li>- официальность</li>
					</ul>
					<p>которые свойственны научному и официально-деловому стилям. Вместо этого для него характеры повествование и передача мельчайших деталей, чтобы сформировать в воображении </p>
				</div>
				<p>Как уже было сказано выше, художественный стиль наиболее часто используется в художественной литературе: романах, новеллах, рассказах, повестях и прочих литературных жанрах. Этому стилю не присущи оценочные суждения, сухость и официальность, которые свойственны научному и официально-деловому стилям. Вместо этого для него характеры повествование и передача мельчайших деталей, чтобы сформировать в воображении читателя филигранную форму передаваемой мысли.</p>
			</div>
			<div class="comment-write">
				<textarea placeholder="Написать комментарий...">Написать комментарий...</textarea>
				<div class="avatar"><img src="" alt=""></div>
				<div class="comment-bar">
					<div class="add-file">
						<button><img src="img/photo-add.png" alt="add"></button>
						<button><img src="img/video-add.png" alt="add"></button>
					</div>
					<button class="send-comment">Отправить</button>
				</div>
			</div>
			<div class="coments-read">
				<div class="coment">
					<div class="coment__ava"><img src="" alt=""></div>
					<div class="coment__info">
						<b>Татьяна Сибелиус</b> <div class="coment__date">23.10.2017 в 11:00</div>
						<p>Какой крутой урок, я просто в восторге! С помощью этого расширения, разработанного командой Google Переводчика, можно быстро переводить веб-страницы.</p>
					</div>
				</div>
				<div class="coment">
					<div class="coment__ava"><img src="" alt=""></div>
					<div class="coment__info">
						<b>Татьяна Сибелиус</b> <div class="coment__date">23.10.2017 в 11:00</div>
						<p>Какой крутой урок, я просто в восторге! С помощью этого расширения, разработанного командой Google Переводчика, можно быстро переводить веб-страницы.</p>
					</div>
				</div>
				<div class="coment">
					<div class="coment__ava"><img src="" alt=""></div>
					<div class="coment__info">
						<b>Татьяна Сибелиус</b> <div class="coment__date">23.10.2017 в 11:00</div>
						<p>Какой крутой урок, я просто в восторге! С помощью этого расширения, разработанного командой Google Переводчика, можно быстро переводить веб-страницы.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endblock%}
</body>
</html>
